# Loader configuration file
#############################

debug = 0
gdb.dir = ".\"
ReservedMemory=300000000
font-size.factor = 1.5
display.fps = 0

DLL.num = 15
DLL.0 = "kitserver\zlib1.dll"
DLL.1 = "kitserver\libpng13.dll"
DLL.2 = "kitserver\afs2fs.dll"
DLL.3 = "kitserver\kserv.dll"
DLL.4 = "kitserver\bserv.dll"
DLL.5 = "kitserver\fserv.dll"
DLL.6 = "kitserver\lodmixer.dll"
DLL.7 = "kitserver\dxtools.dll"
DLL.8 = "kitserver\stadium.dll"
DLL.9 = "kitserver\bootserv.dll"
DLL.10 = "kitserver\clock.dll"
DLL.11 = "kitserver\psc.dll"
DLL.12 = "kitserver\camerazoomer.dll"
DLL.13 = "kitserver\speeder.dll"
DLL.14 = "kitserver\gloves.dll"


# DirectX options
dx.force-SW-TnL = 0
dx.emulate-HW-TnL = 0
dx.fullscreen.width = 3840
dx.fullscreen.height = 2160
internal.resolution.width = 3840
internal.resolution.height = 2160

#############################
# End of loader configuration

